* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.2px;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

header {
  display: flex;
  place-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  align-items: center;
}

nav ul > li {
  list-style: none;
}

nav ul .navLink a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

nav ul .logo {
  margin-right: 5rem;
}

nav ul .logo img {
  width: 60px;
  height: auto;
}

.hero {
  height: 100vh;
  background: url("/images/heroBk.svg");
  padding-top: 1rem;
  background-size: cover;
}

.search li {
  position: relative;
}
.search input {
  width: 326px;
  padding: 10px;
  border-radius: 500px;
  border: 0;
}
.search i {
  position: absolute;
  right: 20px;
  top: 50%;
}

/* HeroSection */
.heroContent {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 42px 0 42px;
  height: inherit;
}

.heroContent img {
  position: absolute;
  width: 1107px;
  top: -72px;
  left: 403px;
  touch-action: none;
  pointer-events: none;
  }

.heroContent .clubInfo {
  height: 65%;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  letter-spacing: 0.2px;
  z-index: 2;
}

.heroContent .clubInfo .clubName h1{
  font-size: 5rem;
  line-height: 170px;
  font-family: 'Arvo', serif;
}

.heroContent .clubInfo .clubName h3 {
  font-size: 50px;
  line-height: 24px;
}

.nextMatch {
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 27.76rem;
  height: 110px;
  background-color: #faf8f8;
  border-radius: 400px;
}

.dots {
  height: 80%;
  border: 1px dashed black;
  color: #787878;
  align-self: flex-end;
}

.nextMatch .next, .muda h4 {
  font-family: 'Arvo', serif;
  font-size: 1.125rem;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-weight: 700;
}

.nextMatch .next h4{
  color: #4B188B;
}

.nextMatch .next h4 span, .wakati h4, .wakati p{
  color: #262F3E;
}

.nextMatch .muda {
  display: flex;
}

.nextMatch .muda .wakati {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

/* matokeo */

.matokeo {
  padding: 3rem 2rem 3rem 2rem;
  background-color: #f1f1f1;
  min-height: 253px;
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.matokeo .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem 4.4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 71px;
  columns: span 2;
}

.matokeoContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: white;
  width: 281px;
  min-height: 120px;
  border-radius: 25px;
  /* margin-right: 71px; */
}

.matokeoContainer img {
  width: 60px;
  height: 60px;
}

.matokeo .matokeoContainer .date, .league {
  font-size: 10.5px;
  line-height: 24px;
  color: #6C757D;
  text-align: center;
}

.matokeo .matokeoContainer .magoli {
  font-size: 36px;
  line-height: 27px;
  color: #262F3E;
  font-weight: 600;
}

.matokeo .matokeoContainer p {
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heading p {
  color: #4B188B;
  font-size: 1.125rem;
  line-height: 35px;
  letter-spacing: 5px;
}

.heading h2 {
  font-family: "arvo", sans-serif;
  font-size: 2.06rem;
  color: #262F3E;
  line-height: 40px;
  letter-spacing: 5px;
}

/* kikosi */

.kikosi {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #C6A0F8;
  padding-bottom: 100px;
  padding-top: 100px;
}

.kikosi .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(244px, auto));
  gap: 1rem;
  justify-content: center;
  height: 100%;
  place-items: center;
  align-items: center;
  width: 80%;
}

.kikosi .cards .card {
  position: relative;
  min-height: 357.5px;
  overflow: hidden;
  max-width: 244px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 4px;
}

.kikosi .cards .card img {
  width: 100%;
  height: 228px;
  object-fit: cover;
}

.kikosi .cards .card .bottom {
  padding: .5rem 1rem .5rem 1rem;
}

.kikosi .cards .card p {
  font-weight: bold;
  color: #262F3E;
  font-size: 14px;
  line-height: 25px;
}
.kikosi .cards .card h5 {
  font-weight: bold;
  color: #787878;
  line-height: 25px;
}

.kikosi h2 {
  font-size: 37px;
  color: #4B188B;
  font-weight: bold;
  line-height: 60px;
  font-family: "arvo", sans-serif;
  margin-bottom: 64px;
}

.kikosi .cards h2 {
  position: absolute;
  font-size: 32px;
  left: 1rem;
  top: 1rem;
}

/* msimamo */
.msimamo {
  min-height: 90vh;
  padding: 6.25rem 2rem 6.25rem 2rem;
  background-color: #f8f8f8;
  overflow: hidden;
}

.msimamo .subTitle {
  font-size: 1.56rem;
  text-align: center;
  color: #4B188B;
}

.msimamo .title {
  font-size: 37px;
  color: #262F3E;
  text-align: center;
  font-family: "arvo", sans-serif;
  margin-bottom: 3.5625rem;
}

.msimamo table {
  display: block;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow-x: auto;
  max-width: fit-content;
}
 
.msimamo table td, th {
  padding: 10px 100px 10px ;
}

.msimamo table td {
  border-bottom: 1px solid #878787;
  font-size: 14px;
}

.msimamo table .headers {
  background-color: #D9D9D9;
  font-family: "arvo", sans-serif;
  
}

.msimamo table th:first-child {
  border-radius: 100px 0 0 100px;
}

.msimamo table th:last-child {
  border-radius: 0 100px 100px 0;
}

/* mafanikio */
.mafanikio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4B188B;
  min-height: 90vh;
  color: white;
  padding: 6.25rem 2rem 6.25rem 2rem;
}

.mafanikio .subTitle {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  width: fit-content;
  border-radius: 5px;
  text-align: center;
  background-color: #C6A0F8;
}

.mafanikio .title {
  font-size: 37px;
  text-align: center;
  font-family: "arvo", sans-serif;
  line-height: 150px;
}

.mafanikio .mafanikioPara {
  max-width: 60%;
}

.mafanikio img {
  max-width: 253.69px;
  margin: 40px;
}

.mafanikio .makombe {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mafanikio .kombe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mafanikio .makombe .kombe h2 {
  font-size: 3.125rem;
  font-family: "arvo", sans-serif;
  line-height: 80px;
}

/* picha */
.picha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  min-height: 90vh;
  padding: 6.25rem 1rem 6.25rem 1rem;
}

.picha h2 {
  color: #262F3E;
  font-size: 37px;
  line-height: 150px;
}

.picha .pichaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  flex-wrap: wrap;
  gap: 1rem;
}

.picha .pichaContainer img {
  background-color: white;
  border-radius: 5px;
}

/* footer */
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 3rem 1rem 3rem 1rem;
  min-height: 80vh;
  color: #f8f8f8;
  background-color: #f8f8f8;
  background-image: url("images/footerBackground.svg");
  background-size: cover;
}

footer .upperFooter .form h4{
  margin-bottom: 1rem;
  line-height: 32px;
}

footer .upperFooter form input, button {
  border: none;
  outline: none;
  font-size: .75rem;
  padding: 20px;
}

footer form {
  font-size: 0;
}

footer .upperFooter form input {
  border-radius: 100px 0 0 100px;
  color: #262F3E;
  font-weight: 500;
}

footer .upperFooter form button {
  border-radius: 0 100px 100px 0;
  font-weight: bold;
  background-color: #4B188B;
  color: white;
  transition: 0.3s ease;
  cursor: pointer;
}

footer .upperFooter form button:hover {
  background-color: #C6A0F8;
}

footer .upperFooter, .lowerFooter {
  width: 50%;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.copyright {
  font-size: 14px;
}

footer .address {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  line-height: 32px;
} 

footer .address h5 {
  font-size: 25px;
}

footer .lowerFooter .socials {
  display: flex;
  align-items: center;
}

footer .lowerFooter .socials a {
  text-decoration: none;
  color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-right: 18px;
  width: 50px;
  height: 50px;
  border: solid 1px #787878;
  border-radius: 20px;
}

footer .lowerFooter .socials a:hover {
  color: #4B188B;
}

/* all desktop */





/* all mobile */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1100px) {
  .kikosi {
    padding: 100px 1rem 100px 1rem;
  }
  
  .kikosi .cards {
    width: 100%;
    grid-template-columns: auto auto;
    gap: 1rem;
  }
  .kikosi .cards .card {
    min-height: 300px;
  }
  .kikosi .cards .card img {
    height: 180px;
    object-fit: cover;
  }
  
  .nextMatch {
    width: 100%;
    gap: .8rem;
  }

  .nextMatch .muda .wakati {
    margin: .5rem;
  }

  .nextMatch .next h4 {
    font-size: .8rem;
  }

  .matokeo {
    grid-template-columns: auto;
  }

  .matokeo .cards {
    grid-row: 2;
    margin-right: 0;
  }
  
  .mafanikio .mafanikioPara {
    max-width: 90%;
  }
  .mafanikio .title {
    line-height: 80px;
  }

  footer .upperFooter, .lowerFooter {
    width: 100%;
  }
  footer .upperFooter .form p{
    font-size: 1rem;
  }
  footer .upperFooter form input, button {
    padding: 15px;
  }
  footer .address h5 {
    font-size: 20px;
  }

  
  nav .navLinks a, .search{
    display: none;
  }
  nav .navLinks .navLink {
    margin: 0;
  }

  .heroContent {
    padding: 0 22px 0 22px;
  }
  .heroContent img {
    display: none;
  }
  .heroContent .clubInfo {
    height: 100%;
    justify-content: space-around;
    align-items: flex-start;
  }
  .heroContent .clubInfo .clubName h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .heroContent .clubInfo .clubName h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .heroContent .clubInfo .clubName h1, h3 {
    line-height: unset;
  }

  .picha img {
    width: 100%;
    height: auto;
  }

}